# Виртуальные окружения
venv/
venv311/
__pycache__/
*.py[cod]
*$py.class

# Локальные файлы
.env
.DS_Store
*.log
logs/

# Директории для разработки
.git/
.github/
.vscode/
.idea/

# Файлы базы данных (их нужно будет создавать на сервере или подключать как volume)
app.db 